# Introduction - A Tour of Python

## Table of Contents
1. [For loop](#t1)
2. [Strings](#t2)
3. [Data types](#t3)
4. [Data structures](#t4)
5. [Control structures](#t5)
6. [Functions](#t6)
7. [Comprehensions and Generators](#t7)
8. [Modules](#t8)
9. [Basic File Input/Output](#t9)
10. [Decorators and memo-functions](#t10)
11. [Classes and Objects](#t11)
12. [Functional programming](#t12)

## Variables

We create variables and we assign them with values, numbers, and strings with the equal sign. Using them, we carry out a few arithmetic operations:

In [7]:
a = 1
b = 2
c = a / (b + 1)
text = 'Result:'
print(text, c)

Result: 0.3333333333333333

## For loop <a name="t1" />

In Python, blocks are identified by an indentation like in this for loop:

In [8]:
for i in [1, 2, 3, 4, 5, 6]:
       print(i)
print('Done')

1
2
3
4
5
6
Done

### Conditionals

Conditionals use the *if* and *else* keywords:

In [9]:
for i in [1, 2, 3, 4, 5, 6]:
    if i % 2 == 0:
        print('Even:', i)
    else:
        print('Odd:', i)
print('Done')

Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5
Even: 6
Done

## Strings <a name="t2"/>

We create strings with single quotes and **multiline** strings with triple double quotes

In [9]:
iliad = """Sing, O goddess, the anger of Achilles son of 
Peleus, that brought countless ills upon the Achaeans."""
iliad2 = 'Sing, O goddess, the anger of Achilles son of \
Peleus, that brought countless ills upon the Achaeans.'
print('multiline iliad: ', iliad)
print('iliad2: ', iliad2)

multiline iliad:  Sing, O goddess, the anger of Achilles son of
Peleus, that brought countless ills upon the Achaeans.
iliad2:  Sing, O goddess, the anger of Achilles son of Peleus, that brought countless ills upon the Achaeans.

We access the characters in a string through their index in square brackets:

In [16]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
alphabet[0]  # ’a’
alphabet[1]  # ’b’
alphabet[25] # ’z’

'z'

Possibly with **negative indices**

In [22]:
alphabet[-1]  # the last character of a string: ’z’
alphabet[-2]  # the second last: ’y’
alphabet[-26] # ’a’

'a'

An index outside the range of the string throws an **index error**.

In [23]:
alphabet[27]

IndexError: string index out of range

We get the **length** with len()

In [24]:
len(alphabet)  # 26

26

**Strings are immutable**. Trying to change their value throws an error:

In [25]:
alphabet[0] = 'b'  # throws an error

TypeError: 'str' object does not support item assignment

### String Operations and Functions
String operations. We can **concatenate and repeat** strings with + and *:

In [26]:
'abc' + 'def'  # 'abcdef'

'abcdef'

In [27]:
'abc' * 3  # 'abcabcabc'

'abcabcabc'

Some string functions

In [28]:
# join()
''.join(['abc', 'def', 'ghi'])  # equivalent to a +:
# 'abcdefghi'

'abcdefghi'

In [29]:
' '.join(['abc', 'def', 'ghi'])  # places a space between the
# elements: 'abc def ghi'

'abc def ghi'

In [30]:
', '.join(['abc', 'def', 'ghi'])  # 'abc, def, ghi'

'abc, def, ghi'

In [31]:
# upper() and lower()
accented_e = 'eéèêë'
accented_e.upper()  # 'EÉÈÊË'

'EÉÈÊË'

In [32]:
accented_E = 'EÉÈÊË'
accented_E.lower()  # 'eéèêë'

'eéèêë'

In [33]:
alphabet.find('def')  # 3

3

In [34]:
alphabet.find('é')  # -1, not found

-1

In [35]:
alphabet.replace('abc', 'αβγ')  # 'αβγdefghijklmnopqrstuvwxyz'

'αβγdefghijklmnopqrstuvwxyz'

A program to extract the **vowels**

In [36]:
text_vowels = ''
for i in iliad:
    if i in 'aeiou':
        text_vowels = text_vowels + i
text_vowels  # 'ioeeaeoieooeeuaououeiuoeaea'

'ioeeaeoieooeeuaououeiuoeaea'

### Slices
Slides are **substrings** of strings

In [37]:
# Slices
alphabet[0:3]  # the three first letters of the alphabet: 'abc'

'abc'

In [38]:
alphabet[:3]  # equivalent to alphabet[0:3]

'abc'

In [39]:
alphabet[3:6]  # substring from index 3 to index 5: 'def'

'def'

In [40]:
alphabet[-3:]  # the three last letters of the alphabet: 'xyz'

'xyz'

In [41]:
alphabet[10:-10]  # 'klmnop'

'klmnop'

In [42]:
alphabet[:]  # all the letters: 'a...z'

'abcdefghijklmnopqrstuvwxyz'

The whole string

In [43]:
i = 10
alphabet[:i] + alphabet[i:]

'abcdefghijklmnopqrstuvwxyz'

Slices with a step

In [44]:
alphabet[0::2]  # acegikmoqzuwy

'acegikmoqsuwy'

### Special characters
Two characters have a special meaning in strings the **quote** and the **backslash**. They need to be escaped: \' and \\

In [46]:
'Python\'s strings'  # "Python's strings"

"Python's strings"

In [47]:
"Python's strings"  # "Python's strings"

"Python's strings"

Python defines **escape sequences**. It uses the UTF-8 standard

In [48]:
'\N{COMMERCIAL AT}'  # '@'

'@'

In [49]:
'\x40'  # '@'

'@'

In [50]:
'\u0152'  # 'Œ'

'Œ'

We use the r prefix to treat the **backslashes** as normal characters:

In [51]:
r'\N{COMMERCIAL AT}'  # '\\N{COMMERCIAL AT}'

'\\N{COMMERCIAL AT}'

In [52]:
r'\x40'  # '\\x40'

'\\x40'

In [53]:
r'\u0152'  # '\\u0152'

'\\u0152'

### Formatting strings
As we know in Python, we cannot combine strings and numbers like this:

In [56]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: must be str, not int

But we can combine strings and numbers by using the **format()** method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [57]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [54]:
begin = 'my'
'{} string {}'.format(begin, 'is empty')
# 'my string is empty'

'my string is empty'

In [55]:
begin = 'my'
'{1} string {0}'.format('is empty', begin)
# 'my string is empty'

'my string is empty'

## Data types <a name="t3"/>

In [58]:
type(alphabet)  # <class 'str'>

str

In [59]:
type(12)  # <class 'int'>

int

In [60]:
type('12')  # <class 'str'>

str

In [61]:
type(12.0)  # <class 'float'>

float

In [62]:
type(True)  # <class 'bool'>

bool

In [63]:
type(1 < 2)  # <class 'bool'>

bool

In [64]:
type(None)  # <class 'NoneType'>

NoneType

### Type conversions

In [65]:
int('12')  # 12

12

In [66]:
str(12)  # '12'

'12'

In [67]:
int('12.0')  # ValueError

ValueError: invalid literal for int() with base 10: '12.0'

In [68]:
int(alphabet)  # ValueError

ValueError: invalid literal for int() with base 10: 'abcdefghijklmnopqrstuvwxyz'

In [69]:
int(True)  # 1

1

In [70]:
int(False)  # 0

0

In [71]:
bool(7)  # True

True

In [72]:
bool(0)  # False

False

In [73]:
bool(None)  # False

False

## Data structures <a name="t4"/>

### Lists

Lists are data structures that can hold any type of elements. <br>
We can read and write data in a list using indexes

In [74]:
list1 = []  # An empty list
list1 = list()  # Another way to create an empty list
list2 = [1, 2, 3]  # List containing 1, 2, and 3

In [75]:
list2[1]  # 2

2

In [76]:
list2[1] = 8
list2  # [1, 8, 3]

[1, 8, 3]

In [77]:
list2[4]  # Index error

IndexError: list index out of range

In [79]:
var1 = 3.14
var2 = 'my string'

In [80]:
list3 = [1, var1, 'Prolog', var2]
list3  # [1, 3.14, 'Prolog', 'my string']

[1, 3.14, 'Prolog', 'my string']

#### Slices

In [81]:
list3[1:3]  # [3.14, 'Prolog']
list3[1:3] = [2.72, 'Perl', 'Python']
list3  # [1, 2.72, 'Perl', 'Python', 'my string']

[1, 2.72, 'Perl', 'Python', 'my string']

#### Lists of lists

In [82]:
list4 = [list2, list3]
# [[1, 8, 3], [1, 2.72, 'Perl', 'Python', 'my string']]
list4

[[1, 8, 3], [1, 2.72, 'Perl', 'Python', 'my string']]

In [83]:
list4[0][1]  # 8

8

In [84]:
list4[1][3]  # 'Python'

'Python'

In [85]:
list5 = list2
[v1, v2, v3] = list5

In [86]:
[v1, v2, v3]

[1, 8, 3]

### List operations and functions

In [87]:
list2  # [1, 8, 3]
list3[:-1]  # [1, 2.72, 'Perl', 'Python'] 
# list3[-1] = 'Python', i.e the last element

[1, 2.72, 'Perl', 'Python']

In [88]:
[1, 2, 3] + ['a', 'b']  # [1, 2, 3, 'a', 'b']

[1, 2, 3, 'a', 'b']

In [89]:
list2[:2] + list3[2:-1]  # [1, 8, 'Perl', 'Python']

[1, 8, 'Perl', 'Python']

In [90]:
list2 * 2  # [1, 8, 3, 1, 8, 3]

[1, 8, 3, 1, 8, 3]

In [91]:
[0.0] * 4  # Initializes a list of four 0.0s
# [0.0, 0.0, 0.0, 0.0]

[0.0, 0.0, 0.0, 0.0]

In [92]:
list2  # [1, 8, 3]
list2[1] = 2  # [1, 2, 3]
list2

[1, 2, 3]

In [93]:
len(list2)  # 3

3

In [94]:
list2.extend([4, 5])  # [1, 2, 3, 4, 5]
list2

[1, 2, 3, 4, 5]

In [95]:
list2.append(6)  # [1, 2, 3, 4, 5, 6]
list2

[1, 2, 3, 4, 5, 6]

In [96]:
list2.append([7, 8])  # [1, 2, 3, 4, 5, 6, [7, 8]]
list2

[1, 2, 3, 4, 5, 6, [7, 8]]

In [97]:
list2.pop(-1)  # [1, 2, 3, 4, 5, 6]
list2

[1, 2, 3, 4, 5, 6]

In [98]:
list2.remove(1)  # [2, 3, 4, 5, 6]
list2

[2, 3, 4, 5, 6]

In [99]:
list2.insert(0, 'a')  # ['a', 2, 3, 4, 5, 6]
list2

['a', 2, 3, 4, 5, 6]

### Tuples
Tuples are similar to list, but they are **immutable**

In [100]:
tuple1 = ()  # An empty tuple
tuple1 = tuple()  # Another way to create an empty tuple
tuple2 = (1, 2, 3, 4)

In [101]:
tuple2[3]  # 4

4

In [102]:
tuple2[1:4]  # (2, 3, 4)

(2, 3, 4)

In [103]:
tuple2[3] = 8  # Type error: Tuples are immutable

TypeError: 'tuple' object does not support item assignment

Tuple can include **elements of different type**, including lists that can be changed (not a good programming practice)

In [104]:
list6 = ['a', 'b', 'c']
tuple3 = tuple(list6)  # conversion to a tuple: ('a', 'b', 'c')
tuple3

('a', 'b', 'c')

In [106]:
type(tuple3)  # <class 'tuple'>

tuple

In [107]:
list7 = list(tuple2)  # [1, 2, 3, 4]

In [108]:
tuple4 = (tuple2, list6)  # ((1, 2, 3, 4), ['a', 'b', 'c'])
tuple4[0]  # (1, 2, 3, 4),

(1, 2, 3, 4)

In [109]:
tuple4[1]  # ['a', 'b', 'c']

['a', 'b', 'c']

In [110]:
tuple4[0][2]  # 3

3

In [111]:
tuple4[1][1]  # 'b'

'b'

In [112]:
tuple4[1][1] = 'β'  # ((1, 2, 3, 4), ['a', 'β', 'c'])
tuple4

((1, 2, 3, 4), ['a', 'β', 'c'])

### Sets
Sets are collections that have **no duplicates**

In [3]:
set1 = set()  # An empty set
set2 = {'a', 'b', 'c', 'c', 'b'}  # {'a', 'b', 'c'}

In [4]:
set2.add('d')  # {'a', 'b', 'c', 'd'}
set2

{'a', 'b', 'c', 'd'}

In [5]:
set2.remove('a')  # {'b', 'c', 'd'}
set2

{'b', 'c', 'd'}

In [6]:
list8 = ['a', 'b', 'c', 'c', 'b']

In [7]:
set3 = set(list8)  # {'a', 'b', 'c'}
set3

{'a', 'b', 'c'}

In [12]:
iliad_chars = set(iliad.lower())
# The set of unique characters of the iliad string
iliad_chars

{'\n',
 ' ',
 ',',
 '.',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u'}

We can create a **sorted list** from a set

In [119]:
sorted(iliad_chars)

['\n',
 ' ',
 ',',
 '.',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u']

**sort()** calls the underlying operating system. This means that it produces different results on different systems. It does not work properly on OSX. The **locale module** opens access to the POSIX locale database and functionality. The POSIX locale mechanism allows programmers to deal with certain cultural issues in an application, without requiring the programmer to know all the specifics of each country where the software is executed.

In [1]:
import locale

loc = locale.getlocale()
locale.setlocale(locale.LC_ALL, loc)
locale.setlocale(locale.LC_ALL, 'fr_FR.UTF-8')

accented = 'aàeéèêëiîïoôöuûüαβγ'
print("Without locale:\t", sorted(accented))
print("With locale:\t", sorted(accented, key=locale.strxfrm))

Without locale:	 ['a', 'e', 'i', 'o', 'u', 'à', 'è', 'é', 'ê', 'ë', 'î', 'ï', 'ô', 'ö', 'û', 'ü', 'α', 'β', 'γ']
With locale:	 ['a', 'à', 'e', 'é', 'è', 'ê', 'ë', 'i', 'î', 'ï', 'o', 'ô', 'ö', 'u', 'û', 'ü', 'α', 'β', 'γ']

#### Operations on sets

In [10]:
set2.intersection(set3)  # {'c', 'b'}

{'b', 'c'}

In [11]:
set2.union(set3)  # {'d', 'b', 'a', 'c'}

{'a', 'b', 'c', 'd'}

In [13]:
set2.symmetric_difference(set3)  # {'a', 'd'}

{'a', 'd'}

In [14]:
set2.issubset(set3)  # False

False

In [17]:
iliad_chars.intersection(set(alphabet))
# characters of the iliad string that are letters:
# {'a', 's', 'g', 'p', 'u', 'h', 'c', 'l', 'i',
#  'd', 'o', 'e', 'b', 't', 'f', 'r', 'n'}

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u'}

### Dictionaries
Dictionaries are collections of **values** indexed by **keys**:

In [18]:
wordcount = {}  # We create an empty dictionary
wordcount = dict()  # Another way to create a dictionary
wordcount['a'] = 21  # The key 'a' has value 21
wordcount['And'] = 10  # 'And' has value 10
wordcount['the'] = 18

In [19]:
wordcount['a']  # 21

21

In [20]:
wordcount['And']  # 10

10

In [21]:
'And' in wordcount  # True

True

In [22]:
'is' in wordcount  # False

False

In [23]:
wordcount['is']  # Key error

KeyError: 'is'

#### Dictionary functions

In [24]:
wordcount.get('And')  # 10

10

In [25]:
wordcount.get('is', 0)  # 0

0

In [26]:
wordcount.get('is')  # None

In [27]:
wordcount.keys()  # dict_keys(['the', 'a', 'And'])

dict_keys(['a', 'And', 'the'])

In [28]:
wordcount.values()  # dict_values([18, 21, 10])

dict_values([21, 10, 18])

In [29]:
wordcount.items()  # dict_items([('the', 18), ('a', 21),
# ('And', 10)])

dict_items([('a', 21), ('And', 10), ('the', 18)])

**Keys must be immutable**. We can use **tuples**, but not lists

In [30]:
my_dict = {}
my_dict[('And', 'the')] = 3  # OK, we use a tuple

In [31]:
my_dict[['And', 'the']] = 3  # Type error:
# unhashable type: 'list'

TypeError: unhashable type: 'list'

#### Counting letters with a dictionary

In [32]:
letter_count = {}
for letter in iliad.lower():
    if letter in alphabet:
        if letter in letter_count:
            letter_count[letter] += 1
        else:
            letter_count[letter] = 1

print('Iliad')
letter_count

Iliad

{'s': 10,
 'i': 3,
 'n': 6,
 'g': 4,
 'o': 8,
 'd': 2,
 'e': 9,
 't': 6,
 'h': 6,
 'a': 6,
 'r': 2,
 'f': 2,
 'c': 3,
 'l': 6,
 'p': 2,
 'u': 4,
 'b': 1}

In [33]:
for letter in sorted(letter_count.keys()):
    print(letter, letter_count[letter])

a 6
b 1
c 3
d 2
e 9
f 2
g 4
h 6
i 3
l 6
n 6
o 8
p 2
r 2
s 10
t 6
u 4

#### Sorting the letters by frequency

In [34]:
for letter in sorted(letter_count.keys(),
                     key=letter_count.get, reverse=True):
    print(letter, letter_count[letter])

s 10
e 9
o 8
n 6
t 6
h 6
a 6
l 6
g 4
u 4
i 3
c 3
d 2
r 2
f 2
p 2
b 1

## Control structures <a name="t5"/>

### Conditionals

In [35]:
digits = '0123456789'
punctuation = '.,;:?!'

In [36]:
char = '.'

In [37]:
if char in alphabet:
    print('Letter')
elif char in digits:
    print('Number')
elif char in punctuation:
    print('Punctuation')
else:
    print('Other')

Punctuation

### For-in loop

In [38]:
sum = 0
for i in range(100):
    sum += i
print(sum)  # Sum of integers from 0 to 99: 4950
# Using the built-in sum() function,
# sum(range(100)) would produce the same result.

4950

Useful functions for for

In [39]:
list10 = list(range(5))  # [0, 1, 2, 3, 4]
list10

[0, 1, 2, 3, 4]

In [40]:
for inx, letter in enumerate(alphabet):
    print(inx, letter)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

### While loop
A while loop

In [42]:
sum, i = 0, 0
while i < 100:
    sum += i
    i += 1
sum

4950

Another loop

In [43]:
sum, i = 0, 0
while True:
    sum += i
    i += 1
    if i >= 100:
        break
sum

4950

## Exceptions
All the exceptions in one block

In [44]:
try:
    int(alphabet)
    int('12.0')
except:
    pass
print('Cleared the exception!')

Cleared the exception!

Specific exceptions

In [45]:
try:
    int(alphabet)
    int('12.0')
except ValueError:
    print('Caught a value error!')
except TypeError:
    print('Caught a type error!')

Caught a value error!

## Functions <a name="t6"/>

We define a function with the def keyword:

In [46]:
def count_letters(text, lc=True): #lc is for lowercase. 
                                  # It is to set the characters in lowercase
    letter_count = {}
    if lc:
        text = text.lower()
    for letter in text:
        if letter.lower() in alphabet:
            if letter in letter_count:
                letter_count[letter] += 1
            else:
                letter_count[letter] = 1
    return letter_count

We call the function with it default arguments

In [48]:
odyssey = """Tell me, O Muse, of that many-sided hero who
traveled far and wide after he had sacked the famous town
of Troy."""

print('Start')
od = count_letters(odyssey)

for letter in sorted(od.keys()):
    print(letter, od[letter])

Start
a 9
c 1
d 7
e 12
f 5
h 6
i 2
k 1
l 3
m 4
n 3
o 8
r 5
s 4
t 8
u 2
v 1
w 3
y 2

Or with lower case set to False

In [49]:
od = count_letters(odyssey, False)
for letter in sorted(od.keys()):
    print(letter, od[letter])

M 1
O 1
T 2
a 9
c 1
d 7
e 12
f 5
h 6
i 2
k 1
l 3
m 3
n 3
o 7
r 5
s 4
t 6
u 2
v 1
w 3
y 2

## Comprehensions and Generators <a name="t7"/>

Comprehensions and generators are alternatives to loops

### List comprehensions
A list comprehension consists of **brackets** containing an **expression** followed by a **for clause**, then zero or more for or if clauses. The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it.

For example, this listcomp generates a set of edits for a string (with a comprehension):

In [50]:
word = 'acress'
splits = [(word[:i], word[i:]) for i in range(len(word) + 1)]
splits

[('', 'acress'),
 ('a', 'cress'),
 ('ac', 'ress'),
 ('acr', 'ess'),
 ('acre', 'ss'),
 ('acres', 's'),
 ('acress', '')]

In [51]:
deletes = [a + b[1:] for a, b in splits if b]
deletes

['cress', 'aress', 'acess', 'acrss', 'acres', 'acres']

And the same with loops. Comprehensions are more compact

In [ ]:
splits = []
for i in range(len(word) + 1):
    splits.append((word[:i], word[i:]))
splits

In [ ]:
deletes = []
for a, b in splits:
    if b:
        deletes.append(a + b[1:])
deletes

### Generators
Generators are similar to comprehensions, but they create the elements on demand

In [ ]:
splits_generator = ((word[:i], word[i:])
                    for i in range(len(word) + 1))

for i in splits_generator: print(i)
We can traverse it only once

In [ ]:
for i in splits_generator: print(i) # Nothing

### Iterators and zip()

In [ ]:
latin_alphabet = 'abcdefghijklmnopqrstuvwxyz'
len(latin_alphabet)  # 26

In [ ]:
greek_alphabet = 'αβγδεζηθικλμνξοπρστυφχψω'
len(greek_alphabet)  # 24

In [ ]:
cyrillic_alphabet = 'абвгдеёжзийклмнопрстуфхцчшщъыьэюя'
len(cyrillic_alphabet)  # 33

In [ ]:
la_gr = zip(latin_alphabet[:3], greek_alphabet[:3])
la_gr

In [ ]:
list(la_gr)

In [ ]:
list(la_gr) # You can traverse it only once

In [ ]:
la_gr_cy = zip(latin_alphabet[:3], greek_alphabet[:3],
               cyrillic_alphabet[0:3])
la_gr_cy

Iterators have a __next__() function:

We recreate the iterator

In [ ]:
la_gr = zip(latin_alphabet[:3], greek_alphabet[:3]) # We recreate the iterator

In [ ]:
la_gr.__next__()  # ('a', 'α')

In [ ]:
la_gr.__next__()  # ('b', 'β')

In [ ]:
la_gr.__next__()  # ('c', 'γ')

Until we reach the end

In [ ]:
la_gr.__next__()

We can traverse an iterator only once. <br/>
To traverse it two or more times, we convert it to a list

In [ ]:
la_gr_cy_list = list(la_gr_cy)

First time

In [ ]:
la_gr_cy_list  # [('a', 'α', 'а'), ('b', 'β', 'б'), ('c', 'γ', 'в')]
Second time, etc.

In [ ]:
la_gr_cy_list  # [('a', 'α', 'а'), ('b', 'β', 'б'), ('c', 'γ', 'в')]

In [ ]:
la_gr_cy_list = list(la_gr_cy)  # []
la_gr_cy_list
Zipping

In [ ]:
la_gr_cy = zip(latin_alphabet[:3], greek_alphabet[:3],
               cyrillic_alphabet[0:3])
And unzipping

In [ ]:
list(zip(*la_gr_cy))  # [('a', 'b', 'c'), ('α', 'β', 'γ'), ('а', 'б', 'в')]

## Modules <a name="t8"/>

The math module

In [ ]:
import math

math.sqrt(2)  # 1.4142135623730951

In [ ]:
math.sin(math.pi / 2)  # 1.0

In [ ]:
math.log(8, 2)  # 3.0
The stat module

In [ ]:
import statistics as stats

stats.mean([1, 2, 3, 4, 5])  # 3.0

In [ ]:
stats.stdev([1, 2, 3, 4, 5])  # 1.5811388300841898
Running the program or importing it

In [ ]:
if __name__ == '__main__':
    print("Running the program")
    # Other statements
else:
    print("Importing the program")
    # Other statements

## Basic File Input/Output <a name="t9"/>

In [ ]:
try:
    f_iliad = open('../../corpus/iliad.mb.txt', 'r', encoding='utf-8')  # We open a file and we get a file object
    iliad_txt = f_iliad.read()  # We read all the file
    f_iliad.close()  # We close the file
    iliad_stats = count_letters(iliad_txt)  # We count the letters
    with open('iliad_stats.txt', 'w') as f:
        f.write(str(iliad_stats))
       # we automatically close the file
except:
    pass
iliad_stats

## Decorators and memo-functions <a name="t10"/>

In [ ]:
__author__ = "Pierre Nugues"


def memo_function(f):
    cache = {}

    def memo(x):
        if x in cache:
            return cache[x]
        else:
            cache[x] = f(x)
            return cache[x]

    return memo


@memo_function
def fibonacci(n):
    """
    Fibonacci with memo function
    :param n:
    :return:
    """
    if n == 1:
        return 1
    elif n == 2:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)


f_numbers = {}


def fibonacci2(n):
    """
    Fibonacci with memoization. Ad hoc implementation
    :param n:
    :return:
    """
    if n == 1:
        return 1
    elif n == 2:
        return 1
    elif n in f_numbers:
        return f_numbers[n]
    else:
        f_numbers[n] = fibonacci2(n - 1) + fibonacci2(n - 2)
        return f_numbers[n]


print(fibonacci(400))
print(fibonacci2(900))

## Classes and Objects <a name="t11"/>

Defining a class

In [ ]:
In [ ]:
"""Classes and Objects"""
class Text:
    """Text class to hold and process text"""

    alphabet = 'abcdefghijklmnopqrstuvwxyz'

    def __init__(self, text=None):
        """The constructor called when an object
        is created"""

        self.text = text
        self.length = len(text)
        self.letter_count = {}

    def count_letters(self, lc=True):
        """Function to count the letters of a text"""

        letter_count = {}
        if lc:
            text = self.text.lower()
        else:
            text = self.text
        for letter in text:
            if letter.lower() in self.alphabet:
                if letter in letter_count:
                    letter_count[letter] += 1
                else:
                    letter_count[letter] = 1
        self.letter_count = letter_count
        return letter_count
Creating objects and calling methods

In [ ]:
txt = Text("""Tell me, O Muse, of that many-sided hero who
traveled far and wide after he had sacked the famous town
of Troy.""")
print(type(txt))
print(txt.length)

print(txt.count_letters())
print(txt.count_letters(False))
Assigning the object variables

In [ ]:
txt.my_var = 'a'
txt.text = open('../../corpus/iliad.mb.txt', 'r').read()
print(txt.count_letters())
print(txt.my_var)

## Functional programming <a name="t12"/>

map()

In [ ]:
text_lengths = map(len, [iliad, odyssey])
list(text_lengths)  # [100, 111]

In [ ]:
def file_length(file):
    return len(open(file).read())

file_length('../../corpus/iliad.mb.txt')

In [ ]:
files = ['../../corpus/iliad.mb.txt', '../../corpus/odyssey.mb.txt']

text_lengths = map(lambda x: len(open(x).read()), files)
list(text_lengths)  # [807502, 610502]

In [ ]:
text_lengths = (
    map(lambda x: (open(x).read(), len(open(x).read())),
        files))
text_lengths = list(text_lengths)
[text_lengths[0][1], text_lengths[1][1]]  # [807502, 610502]

In [ ]:
text_lengths = (
    map(lambda x: (x, len(x)),
        map(lambda x: open(x).read(), files)))
text_lengths = list(text_lengths)
[text_lengths[0][1], text_lengths[1][1]]  # [807502, 610502]
reduce()

In [ ]:
import functools

char_count = functools.reduce(
    lambda x, y: x[1] + y[1],
    map(lambda x: (x, len(x)),
        map(lambda x: open(x).read(), files)))

char_count

In [ ]:
iliad = """Sing, O goddess, the anger of Achilles son of
Peleus, that brought countless ills upon the Achaeans."""
iliad

In [ ]:
''.join(filter(lambda x: x in 'aeiou', iliad))

In [ ]:
''.join(filter(lambda x: x in 'aeiou',
               open('../../corpus/iliad.mb.txt').read()))

In [ ]:
map(lambda y:
    ''.join(filter(lambda x: x in 'aeiou',
                   open(y).read())),
    files)

In [ ]:
list(map(len,
               map(lambda y:
                   ''.join(filter(lambda x: x in 'aeiou',
                                  open(y).read())),
                   files)))

# print(list(map(lambda x: x if x in 'aeiuo' else '', map(lambda x: open(x).read(), files))))